html {
	box-sizing: border-box;
}

*,*:after,*:before
{box-sizing: inherit}

.my_albumContainer {
	width:90%;
	margin:auto;	
}

.header  {
	width: 100%;
	height:50px;
	text-align: center;
	color: #cc0044 ;
	background-color: #eee;
	padding-top: 17px;
}

.pictures {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
}


.homeAlbums {
	width: 30%;
	margin-bottom: 20px;
	overflow: hidden;
}

.images {
	height: 250px;
}


.span {
	color:#666;
	display: block;
	text-align: center;
	height:30px;
	background-color: #eee;
	text-decoration: none;
}


.albumArray {
	display: flex;
	margin:auto;
	justify-content: space-between;	
	align-items: stretch;
}


.selectAlbums {
	width:30%;
	border:1px solid #eee;
	align-items: stretch;
}

.select {
	list-style: none;
	width: 30%;
	background-color: #eee;
	padding-top: 100px;	
	align-items: stretch;
}

.select button {
	width: 80%;
	height:40px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.navButton {
	text-decoration: none;
	color:#fff;
}

.photoArray {
	width: 65%;
}


img {
	display: block;
	margin: auto;
}


